*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section{

    height: 100vh;
    scroll-snap-align: start;
}

ul {
    list-style-type: square;
    list-style-position: inside;
}

.descText{
    font-size: 20px;
    padding: 15px;
    text-align: center;
}

.one{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15vh 1fr 1fr 15vh;
    grid-template-areas:
        "blank blank"
        "homePic title"
        "homePic desc"
        "footer footer";
}

.two{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15vh .2fr 1.8fr 25vh;
       grid-template-areas:
        "blank"
        "title"
        "desc"
        "footer";
    background: rgb(221,184,146)
}

.three{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 15vh 10vh .6fr .1fr;
       grid-template-areas:
        "blank blank blank blank"
        "title title title title"
        "work1 work1 work2 work2";
    background: rgb(176,137,104);
}

.four{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh 10vh .25fr 25vh;
    grid-template-areas:
        "blank blank blank blank"
        "title title title title"
        "skill1 skill2 skill3 skill4"
        "skill5 skill6 skill7 skill8"
        "skill9 skill10 skill11 skill12";
}

.pageTitle{
    grid-area: title;
    text-align: center;
    font-size: 40px;
}

.navbar {
  overflow: hidden;
  background-color: rgb(73,80,87);
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #eeeeee;
  text-align: center;
  padding: 15px 18px;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  color: #1c87c9;
}

.navbar .menu li{
    list-style: none;
}

.staticFoot{
    position: fixed;
    overflow: hidden;
    bottom: -10px;
    left: 0;
    width: 100%;
    min-width: 1000px;
    height: 20vh;
    float: bottom;
}

#kayak{
    display: inline;
    border-radius: 15px;
    max-width: 80%;
    height: auto;
    width: auto;
    justify-self: center;
    align-self: center;
    grid-area: homePic;

}

#mtns{
    width: 100%;
    justify-self: center;
    align-self: center;
}



#introHead{
    font-size: 60px;
    justify-self: start;
    align-self: end;
    grid-area: title;

}

#introP{
    grid-area: desc;
    justify-self: start;
    align-self: start;
    font: 30px bold;

}


#abtP{
    align-content: start;
    justify-content: center;
    grid-area: desc;
    padding-inline: 20vw;

}

.expH{

    justify-self: center;
    align-self: center;
    font-size: 30px;
    padding: 5px;
}

.empFrom{
    justify-self: center;
    align-self: center;
    font-size: 20px;
    padding: 5px;
}

#workPlace1{
    width: 95%;
    height: auto;
    grid-area: work1;
    padding: 20px;
    align-self: start;
    justify-self: center;
    background-color: #eeeeee;
    border-radius: 15px;
}

#workPlace2{
    width: 95%;
    height: auto;
    grid-area: work2;
    padding: 20px;
    align-self: start;
    justify-self: center;
    background-color: #eeeeee;
    border-radius: 15px;
}
.logo{
    width: 30%;
    text-align: center;
}

.workExperience{
    text-align: center;
}

#skill1{
    grid-area: skill1;
    padding: 15px;
}
#skill2{
    grid-area: skill2;
    padding: 15px;
}
#skill3{
    grid-area: skill3;
    padding: 15px;
}
#skill4{
    grid-area: skill4;
    padding: 15px;
}
#skill5{
    grid-area: skill5;
    padding: 15px;
}
#skill6{
    grid-area: skill6;
    padding: 15px;
}
#skill7{
    grid-area: skill7;
    padding: 15px;
}
#skill8{
    grid-area: skill8;
    padding: 15px;
}

.skillName{
    font-size: 20px;
    padding-bottom: 10px;
}
.skillsContainer{
    width: 100%;
    background-color: darkgrey;
    border-radius: 5px;
}
.skills{
    text-align: right;
    padding: 10px;
    color: white;
    border-radius: 5px;
}

.PLC{
    width: 60%;
    background-color: crimson;
}
.robotics{
    width: 25%;
    background-color: darkorange;
}
.vision{
    width: 35%;
    background-color: darkblue;
}
.c\+\+{
    width: 15%;
    background-color: chocolate;
}
.python{
    width: 20%;
    background-color: darkgreen;
}
.java{
    width: 10%;
    background-color: blueviolet;
}
.html{
    width: 10%;
    background-color: darkorange;
}
.git{
    width: 5%;
    background-color: darkgoldenrod;
}

.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.one {
    /*background: rgb(252, 246, 200);*/
    background: rgb(237,224,212)
}

.three a:link, .three a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.three a:hover, .three a:active {
  background-color: red;
}

@media only screen and (max-width: 1000px) {
    .one{
        grid-template-columns: 1fr;
        grid-template-rows: 15vh .5fr .25fr 1.5fr 15vh;
        grid-template-areas:
            "blank"
            "title"
            "desc"
            "homePic"
            "footer";
    }

    .three{
        grid-template-columns: 1fr;
        grid-template-rows: 15vh 40px 1fr 1fr 30vh;
        grid-template-areas:
            "blank"
            "title"
            "work1"
            "work2";
        height: 175vh;
    }
    .four{
        grid-template-columns: 1fr;
        grid-template-rows: 15vh .2fr 15vh 15vh 15vh 15vh 15vh 15vh 15vh 15vh;
        grid-template-areas:
            "blank"
            "title"
            "skill1"
            "skill2"
            "skill3"
            "skill4"
            "skill5"
            "skill6"
            "skill7"
            "skill8"
            "skill9";
        height: 200vh;
    }

    #introHead{
        align-self: end;
        justify-self: center;
        font-size: 45px;

    }
    #introP{
        align-self: start;
        justify-self: center;
        font-size: 30px;
        padding: 10px;
    }

    #workPlace1{
        align-self: center;
    }
    #workPlace2{
        align-self: center;
    }

    .navbar a{
        font-size: 25px;
        font-stretch: condensed;
    }

}