*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section{

    height: 100vh;
    scroll-snap-align: start;
}

.one{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15vh 1fr 1fr 15vh;
    grid-template-areas:
        "blank blank"
        "homePic title"
        "homePic desc"
        "footer footer";
}

.two{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15vh .2fr 1.8fr 25vh;
       grid-template-areas:
        "blank"
        "title"
        "desc"
        "footer";
}

.navbar {
  overflow: hidden;
  background-color: rgb(73,80,87);
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #eeeeee;
  text-align: center;
  padding: 15px 18px;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  color: #1c87c9;
}

.navbar .menu li{
    list-style: none;
}

.staticFoot{
    position: fixed;
    overflow: hidden;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20vh;
}

#kayak{
    display: inline;
    border-radius: 15px;
    max-width: 80%;
    height: auto;
    width: auto;
    justify-self: center;
    align-self: center;
    grid-area: homePic;

}

#mtns{
    width: 100%;
}



#introHead{
    font-size: 60px;
    justify-self: start;
    align-self: end;
    grid-area: title;

}

#introP{
    grid-area: desc;
    justify-self: start;
    align-self: start;
    font: 30px bold;

}



#abtH{
    grid-area: title;
    justify-self: center;
    align-content: end;
}

#abtP{
    align-content: start;
    justify-content: center;
    grid-area: desc;
    padding-inline: 20vw;
}

.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.one {
    /*background: rgb(252, 246, 200);*/
    background: rgb(237,224,212)
}

.two {
    background: rgb(230,204,178);
}

.three{
    background: rgb(237,224,212)
}

@media only screen and (max-width: 1000px) {
    .one{
        grid-template-columns: 1fr;
        grid-template-rows: 15vh .5fr .25fr 1.5fr 15vh;
        grid-template-areas:
            "blank"
            "title"
            "desc"
            "homePic"
            "footer";
    }

    #introHead{
        align-self: end;
        justify-self: center;
        font-size: 45px;

    }
    #introP{
        align-self: start;
        justify-self: center;
        font-size: 30px;
        padding: 10px;
    }

    .navbar a{
        font-size: 25px;
        font-stretch: condensed;
    }

}